<div class="parent">
  <div class="container">
    <div class="Login">
      <button class="sign">
        <a href="http://localhost:4200/login"> Login </a>
      </button>
    </div>
    <div>
      <h2 class="word">Signup</h2>
    </div>
    <form #signup="ngForm" (ngSubmit)="onSignup(signup.value)">
      <div class="input-box">
        <input type="text" name="username" ngModel placeholder="username" />
      </div>
      <div class="input-box">
        <input type="password" name="password" ngModel placeholder="password" />
      </div>
      <div class="input-box">
        <input type="text" name="Email" ngModel placeholder="Email" />
      </div>
      <div class="input-box">
        <input type="text" name="FullName" ngModel placeholder="FullName" />
      </div>
      <div class="input-box">
        <input type="text" name="CurrentAddress" ngModel placeholder="CurrentAddress" />
      </div>
      <div class="input-box">
        <input type="text" name="PhoneNumber" ngModel placeholder="PhoneNumber" />
      </div>
      <button type="submit">Signup</button>
    </form>
    <div *ngIf="signupStatus">{{ signupStatus }}</div>
  </div>
</div>