<a href="http://localhost:4200/dashboard">
    <img
      src="https://static.vecteezy.com/system/resources/previews/023/904/057/original/left-arrow-icon-undo-icon-arrow-back-icon-arrow-sign-and-symbol-vector.jpg"
      alt="backward-arrow"
      class="back-arrow"
    />
</a>









<!-- old Qi code -->
<div>
    <button (click)="openAccount('checking')">Open Checking Account</button>
    <button (click)="openAccount('savings')">Open Savings Account</button>
    <button (click)="openCard('debit')">Open Debit Card</button>
    <button (click)="openCard('credit')">Open Credit Card</button>
</div>