<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Make Transaction</div>
          <div class="card-body">
            <form #transactionForm="ngForm" (ngSubmit)="makeTransactions(transactionForm)">
              <div class="mb-3">
                <label for="senderAccountNumber" class="form-label">Sender's Account Number</label>
                <input type="number" class="form-control" id="senderAccountNumber" name="senderAccountNumber" [(ngModel)]="senderAccountNumber" required>
                <div *ngIf="transactionForm.controls['senderAccountNumber'].errors?.['required']" class="text-danger">Sender's Account Number is required.</div>
              </div>
              <div class="mb-3">
                <label for="recipientAccountNumber" class="form-label">Recipient's Account Number</label>
                <input type="number" class="form-control" id="recipientAccountNumber" name="recipientAccountNumber" [(ngModel)]="recipientAccountNumber" required>
                <div *ngIf="transactionForm.controls['senderAccountNumber'].errors?.['required']" class="text-danger">Recipient's Account Number is required.</div>
              </div>
              <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount" required>
                <div *ngIf="transactionForm.controls['senderAccountNumber'].errors?.['required']" class="text-danger">Amount is required.</div>

              </div>
              <button type="submit" class="btn btn-primary">Transact</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  