<div class="container">
  <div>
    <button (click)="goBack()"><</button>
  </div>
  <div>
    <!-- <button (click)="Make()">Make Transaction</button> -->
  </div>
  <h1>Transactions History</h1>
</div>
<div class="container2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Transaction ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Account</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.transactionId }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.account }}</td>
      </tr>
      <tr>
        <!-- Add a new row -->
        <td colspan="5"></td>
        <!-- Use colspan to span across all columns -->
      </tr>
    </tbody>
  </table>
</div>
