/* Styles for container */
.container {
    padding: 20px;
    background-color: black;
    font-family: Arial, sans-serif; /* Set font family */
  }
  
  h1 {
    color: white;
    font-size: 24px; /* Set font size */
  }
  
  /* Styles for container2 */
  .container2 {
    margin-top: 20px; /* Add space between container and container2 */
  }
  
  .table {
    width: 100%; /* Make table fill its container */
    font-size: 16px; /* Set font size */
  }
  
  /* Add spacing between table rows */
  .table tbody tr {
    margin-bottom: 10px;
  }
  
  /* Add padding to table cells */
  .table td, .table th {
    padding: 10px;
  }
  
  /* Style table header */
  .table thead th {
    background-color: #f8f9fa; /* Light background color */
    border-bottom: 2px solid #dee2e6; /* Bottom border */
    text-align: left;
  }
  
  /* Style table rows alternately */
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Light background color for odd rows */
  }

  .table tbody td{
    color:black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
