<div class="top">
<h1> Card Management </h1>
<a href="http://localhost:4200/dashboard">
    <img
      src="https://static.vecteezy.com/system/resources/previews/023/904/057/original/left-arrow-icon-undo-icon-arrow-back-icon-arrow-sign-and-symbol-vector.jpg"
      alt="backward-arrow"
      class="back-arrow"
    />
</a>
</div>
<div class = "container">
<ng-container If="response; else noCards">
    <ul>
        <li *ngFor="let card of cards" class="credit-card">
            <p> Card Number: {{ card.CardNumber }} </p>
            <p> Card Holder: {{ card.CardHolder }} </p>
            <p> Card Type: {{ card.CardType }} </p>
            <p> Expiry: {{ card.ExpirationDate }} </p>
            <p> Cvv: {{ card.Cvv }} </p>
            <p> CardStatus: {{ card.CardStatus }} </p>
            <div>
                <label>
                <input type="radio" name="{{card.CardNumber}}_status" value="OnHold" [(ngModel)]="card.newStatus"> OnHold
                </label>
                <label>
                <input type="radio" name="{{card.CardNumber}}_status" value="Activated" [(ngModel)]="card.newStatus"> Activated
                </label>
                <button (click)="changeCardStatus(card)" class="saveButton">Save</button>
            </div>
        </li>
    </ul>
    <div *ngIf="cardStatus">{{ cardStatus }}</div>
</ng-container>
<ng-template #noCards>
    <div class="no-card-message">Please open an credit card first.</div>
</ng-template>
</div>