<title>Webleb Banking Dashboard</title>
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center py-5">
        <h1>Welcome to the Banking Dashboard</h1>
      </div>
      <aside class="sidebar">
        <ul>
            <li><a href="/dashboard" class="active">Dashboard</a></li>
            <li><a href="/cardmanagement">Cards</a></li>
            <li><a href="/transaction">Transactions</a></li>
            <li><a href="/history">Logs</a></li>
            <li><a href="/account">Account Management</a></li>
            <li><a href="/open">Open Card/Account</a></li>
        </ul>
    </aside>
    <div class="col-md-9">
      <div class="main-content">
        <section class="account-overview">
          <ng-container If="response; else noAccounts">
            <ul class="custom-list">
              <li *ngFor="let acc of accounts">
                <p>Account Number: {{ acc.AccountNumber }}</p>
                <p>Account Type: {{ acc.AccountType }}</p>
                <p>Balance: ${{ acc.Balance }}</p>
              </li>
            </ul>
          </ng-container>
          <ng-template #noAccounts>
            <div class="no-account-message">
              Please open an account first.
            </div>
          </ng-template>
          <div *ngIf="accStatus">{{ accStatus }}</div>
        </section>
      </div>
    </div>
  </div>
</div>